.navigationPanel{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    background-color: #f5f5f5;
    padding: 2px;
}

.header{
    font-size: clamp(25px, 3vw, 31px);
    text-align: center;
    padding: 30px 25px;
}

.listOfGroups{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.groupElement{
    display: flex;
    padding: 10px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 10px;
}

.groupElement:hover{
    background-color: #DCDCDC !important;
}

.groupAvatar{
    width: clamp(60px, 7vw, 70px);
    height: clamp(60px, 7vw, 70px);
    position: relative;
    background-color: pink;
    border-radius: 50%;
    margin-right: 20px;
}

.groupAvatar .avatarContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.groupTitle{
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 500;
}

.addGroupBtn{
    width: clamp(70px, 7vw, 85px);
    height: clamp(70px, 7vw, 85px);
    border-radius: 50%;
    outline: none;
    border: none;
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: #16008B;
    font-size: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px){
    .header{
        font-size: clamp(28px, 5vw, 42px);
        text-align: center;
        padding: 30px 25px;
    }
}